<button onclick="scrollToTop()" id="backToTopBtn"
    class="hidden fixed bottom-28 right-6 z-50 bg-slate-900/80 hover:bg-slate-800 backdrop-blur-md text-emerald-300 p-3 rounded-full shadow-lg transition duration-300 border border-slate-700 group">
    <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6 group-hover:-translate-y-1 transition-transform"
        viewBox="0 0 20 20" fill="currentColor">
        <path fill-rule="evenodd"
            d="M10 4a1 1 0 01.894.553l5 10a1 1 0 01-1.788.894L10 6.618 5.894 15.447a1 1 0 01-1.788-.894l5-10A1 1 0 0110 4z"
            clip-rule="evenodd" />
    </svg>
</button>

<a href="https://wa.me/6281932692047?text=Assalamu'alaikum,%20saya%20ingin%20tanya-tanya%20tentang%20Ngajikeun.id"
    target="_blank" class="fixed bottom-6 right-6 z-50 group">

    <div class="relative flex items-center justify-center 
        h-16 w-16 rounded-full 
        bg-gradient-to-br from-emerald-400 to-emerald-600
        text-white 
        shadow-2xl shadow-emerald-500/30
        hover:scale-110 
        transition-all duration-300">

        <!-- Pulse Effect -->
        <span class="absolute inset-0 rounded-full 
            bg-emerald-400 animate-ping opacity-20">
        </span>

        <!-- WhatsApp Icon -->
        <svg xmlns="http://www.w3.org/2000/svg" class="relative z-10 h-7 w-7" fill="currentColor" viewBox="0 0 24 24">
            <path d="M.057 24l1.687-6.163c-1.041-1.804-1.588-3.849-1.588-5.946
                0-6.556 5.332-11.888 11.888-11.888
                3.176 0 6.161 1.237 8.404 3.48
                2.245 2.245 3.483 5.231 3.483 8.407
                0 6.557-5.332 11.89-11.887 11.89
                -2.008 0-3.974-.51-5.713-1.478
                l-6.174 1.618zm6.54-3.377
                c1.556.925 3.1 1.411 4.793 1.411
                5.204 0 9.44-4.235 9.44-9.44
                0-2.52-.982-4.889-2.766-6.673
                -1.783-1.783-4.153-2.765-6.674-2.765
                -5.204 0-9.441 4.236-9.441 9.44
                0 1.768.487 3.49 1.408 5.04
                l-.946 3.454 3.58-.937z" />
        </svg>

    </div>

</a>